/* Variables */
:root {
    --primary-color: #9FE2BF;
    --font-color: #333;
    --heading-color: #2C3E50;
    --font-family: Arial, sans-serif;
    --font-size-base: 16px;
    --border-radius: 5px;
    --logo-width: 300px;
    --padding-base: 20px;
    --hover-color: #ffcc00;
    --dark-primary-color: #8eccaf;
}

/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.6;
    background-color: #f4f4f4;
    color: var(--font-color);
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px var(--padding-base);
}

.logo {
    width: var(--logo-width);
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}
.logo:hover {
    opacity: 0.8; /* Change opacity on hover */
    transform: scale(1.30); /* Slightly enlarge the logo */
    transition: opacity 0.3s, transform 0.3s; /* Smooth transition for effects */
}
/* Hamburger Menu Styles */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.line {
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
}

/* Navigation List Styles */
.nav-list {
    list-style: none;
    display: flex;
    margin: 0 5px 0 auto;
}

.nav-list li {
    margin: 0 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-list a {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.nav-list li:hover {
    color: var(--hover-color);
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-list a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--primary-color);
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/* Main Content Styles */
main {
    padding: var(--padding-base);
    max-width: 800px;
    margin: auto;
}

h1, h2, h3 {
    color: var(--heading-color);
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--dark-primary-color);
}

/* Hero Section Styles */
.hero-section {
    background-color: transparent;
    color: var(--font-color);
    padding: 100px var(--padding-base);
    text-align: center;
}

.hero-section h1 {
    font-size: 64px;
    font-weight: bold;
    color: var(--heading-color);
}

/* About Section Styles */
.about-section {
    padding: 50px;
    text-align: center;
}

/* Search Container Styles */
.search-container {
    text-align: center;
    width: 100%;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.search-icon {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: var(--border-radius);
    margin-left: 5px;
}

.search-icon i {
    color: var(--font-color);
}

/* Services Section Styles */
.services-section {
    padding: 100px var(--padding-base);
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #151c22;
    color: white;
    text-align: center;
    padding: 100px var(--padding-base);
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-text,
.footer-list {
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.footer-list li {
    margin: 0 15px;
}

.footer-list a {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.footer-list a:hover {
    text-decoration: underline;
}
